<section>
    <div class="text-center">
    	<div class="col-md-4">
	    	<div class="">
				<a href="/#!/eventos/create">
				<div class="btn btn-info">
					<span translate="CREAR_EVENTO"></span>
				</div> </a>
			</div>
    	</div>
    	<div class="col-md-8">
    		<span style="font-size: 20px" translate="BUSCAR_EVENTOS"></span>
	        <input type="text" ng-model="aBuscar" ng-change="buscarEvento()" class="botonBuscarEvento">
    	</div>
    </div>
    <div class="list-group">
        <a data-ng-repeat="evento in eventos" data-ng-href="#!/eventos/{{evento._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="evento.name"></h4>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="evento.created | date:'medium'"></span>
                by
                <span data-ng-bind="evento.user.displayName"></span>
            </small>
            <rating ng-model="evento.rating" readonly="true" max="5" class="golden aLaIzquierda"></rating>
        </a>
    </div>
</section>
