<section data-ng-controller="CrearEventoController" class="container">
    <div class="page-header text-center">
        <h1 translate="NUEVO_EVENTO"></h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name" translate="NOMBRE"></label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="{{'NOMBRE' | translate}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="tipo" translate="TIPO"></label>
                    <div class="controls">
                        <select data-ng-model="tipo" id="tipo" class="form-control" placeholder="Tipo"
                            ng-options="tipo for tipo in tipos" ng-init="tipo = tipos[0]"required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" translate="LUGAR"></label>
                    <div class="controls">
                        <ui-gmap-google-map id="place" center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="date" translate="FECHA"></label>
                    <div class="controls">
                        <input type="date" data-ng-model="date" id="date" class="form-control" min="{{currentDate | date:'yyyy-MM-dd'}}" placeholder="{{'FECHA' | translate}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="image" translate="URL_DE_LA_IMAGEN"></label>
                    <div class="controls">
                        <input type="text" data-ng-model="image" id="image" class="form-control" placeholder="{{'URL_DE_LA_IMAGEN' | translate}}">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="{{'GUARDAR' | translate}}">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error | translate}}</strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
