<section data-ng-controller="ListaDeSubscripcionDeEventosController" data-ng-init="listaDeSubscripciones()">
	<div class="page-header text-center">
		<h1 translate="SUBSCRIPCIONES_A_EVENTOS"></h1>
	</div>
	<div class="list-group" ng-show="eventosSubscriptos.length > 0">
		<a data-ng-repeat="evento in eventosSubscriptos" data-ng-href="#!/eventos/{{evento._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="evento.created | date:'medium'"></span>
				by
				<span data-ng-bind="evento.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="evento.name"></h4>
		</a>
		<rating ng-model="evento.rating" readonly="true" max="5" class="golden aLaIzquierda"></rating>
	</div>
	<div ng-show="eventosSubscriptos.length == 0 || !eventosSubscriptos.length">
		<span><i class="fa fa-ban"></i> Aún no estas subscripto a ningún evento</span>
	</div>
</section>

