<section data-ng-controller="EventosController" data-ng-init="findOne()">
	<div class="pull-right">
		<a class="btn btn-primary" data-ng-click="assist();" ng-show="!is_assistant">
			<span><i class="glyphicon glyphicon-ok-circle"></i> Asistir</span>
		</a>
		<a class="btn btn-primary" data-ng-click="no_assist();" ng-show="is_assistant">
			<span><i class="glyphicon glyphicon-remove-circle"></i> No asistir</span>
		</a>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="evento.name"></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{evento.name}}</h3>
		</div>
		<div class="panel-body">
			<div>
				Lugar: {{evento.place}}
		    </div>
			<div>
				Fecha: <span data-ng-bind="evento.date | date:'mediumDate'"></span>
			</div>	
		</div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == evento.user._id))">
		<a class="btn btn-primary" href="/#!/eventos/{{evento._id}}/edit" >
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
<br><br>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Asistentes</h3>
		</div>
		<div class="panel-body">
			<div class="list-group" ng-repeat="assistant in evento.assistants">
			  <button type="button" class="list-group-item">{{assistant.displayName}}</button>
			</div>
			<div ng-show="evento.assistants.length == 0">
				<span><i class="glyphicon glyphicon-remove-circle"></i> No hay asistentes aún</span>
			</div>
		</div>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="evento.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="evento.user.displayName"></span>
		</em>
	</small>
</section>
