<section data-ng-controller="VerEventoController" data-ng-init="cargarEvento()" class="container">
	<div class="pull-right">
		<div class="btn btn-primary" ng-click="assistants()">
			<span><i class="glyphicon glyphicon-user"></i> Asistentes</span>
		</div>
		<a class="btn btn-primary" data-ng-click="assist();" ng-show="!is_assistant">
			<span><i class="glyphicon glyphicon-ok-circle"></i> Asistir</span>
		</a>
		<a class="btn btn-primary" data-ng-click="assist();" ng-show="is_assistant">
			<span><i class="glyphicon glyphicon-remove-circle"></i> No asistir</span>
		</a>
		<a class="btn btn-primary" data-ng-click="cancel_invitation();" ng-show="is_invited">
			<span><i class="glyphicon glyphicon-remove-circle"></i> Cancelar invitación</span>
		</a>
		<a class="btn btn-primary" href="/#!/eventos/{{evento._id}}/edit" >
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="page-header text-center">
		<h1 data-ng-bind="evento.name"></h1>
		<img ng-src="{{evento.image || noImage}}" class="mainEventoImage"/>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{evento.name}}</h3>
		</div>
		<div class="panel-body">
			<div>
				<span translate="FECHA"></span>: <span data-ng-bind="evento.date | date:'mediumDate'"></span>
			</div>
			<div ng-show="evento.description">
				{{evento.description}}
			</div>
			<div ng-show="!evento.description">
				El evento aún no tiene descripción
			</div>
			<div>
				<span translate="RATING"></span>: <rating ng-model="evento.rating" readonly="true" max="5" class="golden"></rating>
			</div>
			<div>
				<a class="btn btn-primary" data-ng-click="abrirModalParaCompartir()">
					<span translate="COMPARTIR_CON"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" id="mapa">
			<ui-gmap-google-map id="place" center="map.center" zoom="map.zoom" draggable="true">
				<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
		<div class="col-md-4" ng-show="clima">
			<div class="row">
			  <div >
			    <div class="thumbnail">
				  <img style="width:100px; height:100px" ng-src="http://openweathermap.org/img/w/{{clima.weather[0].icon}}.png" >
			      <div style="text-align:center" class="caption">
					<div><span translate="TEMPERATURA_MINIMA"></span>: {{clima.main.temp_min}}°</div>
					<div><span translate="TEMPERATURA_MAXIMA"></span>: {{clima.main.temp_max}}°</div>
					<div><span translate="HUMEDAD"></span>: {{clima.main.humidity}}%</div>
			      </div>
			    </div>
			  </div>
			</div>	
		</div>
		<div class="col-md-4" ng-show="!clima">
			<div class="row">
			  	<div style="font-size: 16px; color:red; margin-top: 10px; margin-bottom: 10px">
					<span>
						<i class="glyphicon glyphicon-remove-circle"></i>
						<span translate="CLIMA_NO_DISPONIBLE"></span>
					</span>
				</div>
			</div>	
		</div>
	</div>	
<br><br>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="evento.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="evento.user.displayName"></span>
		</em>
	</small>
	<div id="clima"></div>
</section>
