.mainEventoImage{
    height: 315px;
    width: 800px;
}
.golden{
    color: #f5de50;
}
.aLaIzquierda{
    float: right;
}
.angular-google-map-container { height: 400px; }

.botonBuscarEvento{
    background-color: #f5de50;;
    margin-bottom: 4%;
    width: 300px;
    height: 35px;
}
